@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0px;
    box-sizing: border-box;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.subtitle{
    font-family: "Segoe Script";
}

.scroll::-webkit-scrollbar {
   
    height: 5px;
    
}

.scroll::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 30px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #dddbd3;
    
    border-radius: 300px; 
}
.img:hover{
    transition: .5s;
}
.img:hover{
    transform: scale(1.1);
}